<div th:fragment="detailTable">
	<table id ="smallTable" class="table table-bordered">
	    <thead>
			<tr>
				<th>코드</th>
				<th>코드명</th>
				<th>사용여부</th>
				<th>정렬순서</th>
				<th>등록일</th>
			</tr>
	    </thead>
	    <tbody id="smallTableBody">
	    	<tr th:if="${dtCodes.isEmpty()}">
            	<td colspan="5" class="text-center">등록된 상세코드가 없습니다.</td>
        	</tr>
			<tr th:each="detail : ${dtCodes}" th:data-id="${detail.comDtId}" class="detail-row">
	            <td th:text="${detail.comDtId}" class="comDtId-cell"></td>
	            <td th:text="${detail.comDtNm}" class="comDtNm-cell"></td>
	            <td th:text="${detail.useYn}" class="useYn-dcell"></td>
	            <td th:text="${detail.comDtOrder}" class="comDtOrder-cell"></td>
	            <td th:text="${detail.createdAt != null ? #temporals.format(detail.createdAt, 'yyyy-MM-dd') : ''}"></td>
	        </tr>
	    </tbody>
	</table>
</div>



