<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>문서 목록</title>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<h1 class="h3 mb-4 text-gray-800">문서 목록</h1>

			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">사내 공통 문서</h6>
					<a href="/groupware/docWrite" class="btn btn-primary btn-icon-split" sec:authorize="hasAuthority('ROLE_AUT001')">
						<span class="icon text-white-50">
							<i class="fas fa-plus"></i>
						</span>
						<span class="text">등록</span>
					</a>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="documentTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>업무 구분</th>
									<th>양식 종류</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<th sec:authorize="hasAuthority('ROLE_AUT001')">관리</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="doc : ${documents}">
									<td th:text="${doc.doctypename}"></td>
									<td th:text="${doc.ReqType.label}"></td>
									<td>
										<a th:href="@{/groupware/docView/{docId}(docId=${doc.docId})}"
										   th:text="${doc.docTitle}">
									   </a>
									</td>
									<td th:text="|${doc.empName} (${doc.deptName}/${doc.positionName})|"></td>
									<td th:text="${doc.createAt != null} ? ${#temporals.format(doc.createAt, 'yyyy-MM-dd')} : ''"></td>
									<td sec:authorize="hasAuthority('ROLE_AUT001')">
										<a class="btn btn-warning" id="modify-btn" th:href="@{/groupware/docWrite(docId=${doc.docId})}">수정</a>
										<button type="button" class="btn btn-danger" id="delete-btn" th:attr="data-id=${doc.docId}">삭제</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
	    <script>
			$(document).on("click", "#delete-btn", function () {
				
				  if(!confirm("정말 삭제하시겠습니까?"))
				  {
					return false;
				  }
				  
				  let docId = $(this).data("id");
				  
				  // meta 태그로 삽입되어 있을 때
				  let token = $('meta[name="_csrf"]').attr('content');       // 토큰 값
				  let header = $('meta[name="_csrf_header"]').attr('content'); // 헤더 이름
				
				  fetch(`/groupware/removeById/${docId}`, {
				      method: "DELETE",
				      headers: {
				          [header]: token   // 동적으로 헤더 이름에 CSRF 토큰 넣기
				      }
				  })
				  .then(response => {
                      if (response.ok) {
                        location.href = "/groupware/document";
                      } else if (response.status === 403) {
                        alert("권한이 없습니다.");
                      } else {
                        alert("삭제에 실패하였습니다.");
                      }
			      })
				  .catch(error => console.error("Error:", error));
			});
	    </script>
	</th:block>    
</body>
</html>