<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>그룹웨어 - 일정관리</title>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
	<th:block layout:fragment="content">
		<th:block sec:authorize="isAuthenticated()">
			<input type="hidden" id="currentEmpId" th:value="${#authentication.principal.empId}" />
			<input type="hidden" id="currentEmpName" th:value="${#authentication.principal.name}" />
			<input type="hidden" id="empDeptId" th:value="${#authentication.principal.empDeptId}" />
			<input type="hidden" id="empDeptName" th:value="${#authentication.principal.empDeptName}" />
		</th:block>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 mb-4">
					<div
						class="card-header py-3 d-flex justify-content-between align-items-center">
						<a href="#collapse1"
							class="card-header py-3 d-flex justify-content-between align-items-center"
							data-toggle="collapse" role="button" aria-expanded="true"
							aria-controls="collapse2">
							<h6 class="m-0 font-weight-bold">전체 일정관리</h6>
						</a>
					</div>
					<div class="collapse show" id="collapse1">
						<div class="card-body">
							<div class="table-responsive">
								<div id="calendar1" style="max-width: 100%; margin: auto;"></div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-6 mb-4">
					<div
						class="card-header py-3 d-flex justify-content-between align-items-center">
						<a href="#collapse2"
							class="card-header py-3 d-flex justify-content-between align-items-center"
							data-toggle="collapse" role="button" aria-expanded="true"
							aria-controls="collapse2">
							<h6 class="m-0 font-weight-bold"
								th:text="${empDeptName != null ? empDeptName + ' 일정관리' : '부서별 일정관리'}">부서별
								일정관리</h6>
						</a> <a th:href="@{/schedule/schWrite}" class="btn btn-sm btn-primary">일정
							등록</a>
					</div>
					<div class="collapse show" id="collapse2">
						<div class="card-body">
							<div class="table-responsive">
								<div id="calendar2" style="max-width: 100%; margin: auto;"></div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="addScheduleModal" tabindex="-1"
			role="dialog" aria-labelledby="addScheduleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addScheduleModalLabel">간편 일정 등록</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<form th:action="@{/schedule/save}" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label for="modalAuthor">작성자</label> <input type="text"
									class="form-control" id="modalAuthor" name="authorName"
									readonly> <input type="hidden" id="modalEmpId"
									name="empId">
							</div>

							<div class="form-group">
								<label for="schType">일정 타입</label> <select class="form-control"
									id="schType" name="schType">
									<th:block th:if="${isAdmin}">
										<option value="전체">전체 일정</option>
										<option th:each="dept : ${allDepartments}"
											th:value="${dept.comDtNm}" th:text="${dept.comDtNm + ' 일정'}"></option>
									</th:block>
									<th:block th:unless="${isAdmin}">
										<option th:value="${empDeptName}"
											th:text="${empDeptName + ' 일정'}"></option>
									</th:block>
								</select>
							</div>

							<div class="form-group">
								<label for="modalTitle">일정 제목</label> <input type="text"
									class="form-control" id="modalTitle" name="schTitle" required>
							</div>

							<div class="form-group">
								<label for="modalContent">일정 내용</label>
								<textarea class="form-control" id="modalContent"
									name="schContent" rows="4"></textarea>
							</div>

							<div class="form-group">
								<label for="modalStartDate">시작일</label> <input type="date"
									class="form-control" id="modalStartDate" name="startDate"
									required>
							</div>

							<div class="form-group">
								<label for="modalEndDate">종료일</label> <input type="date"
									class="form-control" id="modalEndDate" name="endDate" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">등록</button>
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">닫기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="scheduleDetailModal" tabindex="-1"
			role="dialog" aria-labelledby="scheduleDetailModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="scheduleDetailModalLabel">일정 보기</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="readModeContent">
							<div class="form-group">
								<label>제목</label>
								<p id="detailTitle" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>작성자</label>
								<p id="detailEmpName" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>내용</label>
								<p id="detailContent" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>시작일</label>
								<p id="detailStartDate" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>종료일</label>
								<p id="detailEndDate" class="form-control-static"></p>
							</div>
						</div>

						<form id="editScheduleForm" style="display: none;">
							<input type="hidden" id="editScheduleId" name="schId"> <input
								type="hidden" id="editSchEmpId" name="empId">
							<div class="form-group">
								<label for="editTitle">제목</label> <input type="text"
									class="form-control" id="editTitle" name="schTitle" required>
							</div>
							<div class="form-group">
								<label for="editContent">내용</label>
								<textarea class="form-control" id="editContent"
									name="schContent" rows="4"></textarea>
							</div>
							<div class="form-group">
								<label for="editStartDate">시작일</label> <input
									type="datetime-local" class="form-control" id="editStartDate"
									name="starttimeAt" required>
							</div>
							<div class="form-group">
								<label for="editEndDate">종료일</label> <input
									type="datetime-local" class="form-control" id="editEndDate"
									name="endtimeAt" required>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" id="editScheduleBtn">수정</button>
						<button type="button" class="btn btn-danger"
							id="deleteScheduleBtn">삭제</button>
						<button type="submit" form="editScheduleForm"
							class="btn btn-primary" id="saveEditBtn" style="display: none;">수정
							완료</button>
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/bootstrap/js/groupware/schedule.js}"></script>
	</th:block>
</body>
</html>