<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 개별페이지 CSS 영역 -->
    <th:block layout:fragment="style">
    <style>
	    #planRegisterModal .modal-dialog {
		  max-width: 850px; /* 원하는 가로 크기 */
		}
	</style>
    </th:block>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
</head>
<body>
	<th:block layout:fragment="content">

		<div class="container-fluid">
		    <div class="row">
		        <!-- 생산계획 Grid -->
		        <div class="col-md-12">
		            <div class="card shadow mb-4">
		            	<div class="d-flex align-items-center justify-content-between mb-2">
			                <h3 class="mb-0">생산계획</h3>
			                <button class="btn btn-success btn-sm me-3" id="planModalBtn">등록</button>
		                </div>
		                <div id="plan-grid"></div>
		            </div>
		        </div>
		    </div>
		</div>
	
		<form id="planForm">
		<div class="modal fade" id="planRegisterModal" tabindex="-1" aria-labelledby="planRegisterLabel" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-scrollable">
		        <div class="modal-content" id="modalContentContainer">
		            
		            <!-- 모달 헤더 -->
		            <div class="modal-header" style="border-bottom: 1px solid black;">
		                <h5 class="modal-title" id="planRegisterLabel">생산 계획 등록</h5>
		            </div>
		
		            <!-- 모달 바디 -->
		            <div class="modal-body" style="height: 600px;">
		                <div class="row mb-4">
						  <div class="col">
						    <label class="form-label">등록된 수주</label>
						    <!-- 그리드가 그려질 영역 -->
						    <div id="order-grid"></div>
						  </div>
		                </div>
		
						<div class="row mb-4">
		                    <div class="col">
		                        <label for="product_id" class="form-label">생산계획 번호</label>
		                        <input type="text" id="plan_id" name="planId" class="form-control" placeholder="ex) PP20250101-001" required="required">
		                        <input type="hidden" id="order_id" name="orderId" class="form-control">
		                    </div>
						</div>
						<div class="row mb-4">
		                    <div class="col">
		                      <label for="product_name" class="form-label">제품명</label>
		                        <input type="text" id="product_name" name="productName" class="form-control" placeholder="ex) PRD~" readonly="readonly">
		                        <input type="hidden" id="product_id" name="productId" class="form-control">
		                    </div>
		                    <div class="col">
		                        <label for="product_name" class="form-label">생산 수량</label>
		                        <input type="text" id="plan_quantity" name="planQuantity" class="form-control" placeholder="ex) 10" readonly="readonly">
		                    </div>
						</div>
						<div class="row mb-4">
		                    <div class="col">
		                        <label for="product_id" class="form-label">생산계획 시작일</label>
		                        <input type="date" id="start_date" name="startDate" class="form-control" required="required">
		                    </div>
		                    <div class="col">
		                        <label for="product_name" class="form-label">생산계획 종료일</label>
		                        <input type="date" id="end_date" name="endDate" class="form-control" required="required">
		                    </div>
		                    <div class="col">
		                        <label for="product_name" class="form-label">납기일</label>
		                        <input type="date" id="due_date" name="dueDate" class="form-control" readonly="readonly">
		                    </div>
		                </div>
		            </div>
		
		            <!-- 모달 푸터 -->
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		                <button type="button" class="btn btn-primary" id="planRegisterBtn">등록</button>
		            </div>
		        </div>
		    </div>
		</div>
		</form>
		
	
	</th:block>
	<th:block layout:fragment="script">
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script src="/bootstrap/js/pm/produdct_plan_list.js"></script>
		<script src="/bootstrap/js/pm/product_plan_modal.js"></script>
	</th:block>
</body>
</html>
