<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 개별페이지 CSS 영역 -->
    <th:block layout:fragment="style">
        <!--        <link rel="stylesheet" th:href="@{/css/item_main.css}" />-->
        
        
    </th:block>
        <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    
    
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
    	<h1 class="h3 mb-2 text-gray-900">설비이력</h1>
<!--     	<button id="prs-add" class="btn btn-primary btn-sm" onclick="addProcess()" style="float:right;">추가</button> -->
    	<button id="openModalBtn" class="btn btn-primary btn-sm" style="float:right;">추가</button>
		<div id="grid"></div>
		
		
		<!-- 모달 -->
		<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      
		      <!-- 모달 헤더 -->
		      <div class="modal-header">
		        <h5 class="modal-title" id="dataModalLabel">설비 수리이력 등록</h5>
		      </div>
		      
		      <!-- 모달 바디 -->
		      <div class="modal-body">
		        <form id="dataForm">
		          <div class="mb-3">
		            <label for="proNm" class="form-label">설비 선택</label>
		            <select name="equipId" class="form-select" id="equipId">
			        	<option value="">설비를 선택하세요</option>
			        	<th:block th:each="equip :${equipList}">
			          		<option th:value="${equip.equipId}" th:text="${equip.equipNm}"></option>
			          	</th:block>
			        </select>
		          </div>
		          <div class="row mb-3">
			      	<div class="col-12">
			        	<span class="form-label">수리 시작일</span>
			        	<input type="date" name="startDt" class="form-control" id="startDt">
			      	</div>
			    </div>
			    <div class="row mb-3">
			      <div class="col-12">
			        <span class="form-label">수리 종료일</span>
			        <input type="date" name="endDt" class="form-control" id="endDt" />
			      </div>
			    </div>
			    <div class="row mb-3">
			      <div class="col-12">
			        <span class="form-label">수리 사유</span>
			        <textarea name="note" class="form-control" id="note"  rows="3"></textarea>
			      </div>
			    </div>
		        </form>
		      </div>
		      
		      <!-- 모달 푸터 -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" id="closeBtn1">닫기</button>
		        <button type="submit" id="saveBtn" class="btn btn-primary">저장</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
		<!-- 모달2 -->
		<div class="modal fade" id="hisModal" tabindex="-1" aria-labelledby="hisModal" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      
		      <!-- 모달 헤더 -->
		      <div class="modal-header">
		        <h5 class="modal-title" id="dataModalLabel">수리 상세내역</h5>
		      </div>
		      
		      <!-- 모달 바디 -->
		      <div class="modal-body">
		        <div id="grid2" style="height:300px;"></div>
		      </div>
		      
		      
		    </div>
		  </div>
		</div>


   
    </div>

</th:block>

<th:block layout:fragment="script">
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!--  <script th:src="@{/bootstrap/js/plant/equip_fix.js}"></script>	 -->
<!--  <script th:src="@{/bootstrap/js/plant/equip_fix_detail.js}"></script>	 -->
 <script th:inline="javascript">

 
 document.addEventListener('DOMContentLoaded', function() {
		let modalEl2 = document.getElementById("hisModal");;	//모달 2 상세보기 페이지 부분
		let myModal2 = new bootstrap.Modal(modalEl2);
	  	
		const token = $("meta[name='_csrf']").attr("content");
		const header = $("meta[name='_csrf_header']").attr("content");
		const equipList = /*[[${equipList}]]*/ [];
		let grid2;
		
		$(document).ajaxSend(function(e, xhr, options) {
			if (token && header) {
				xhr.setRequestHeader(header, token);
			}
		});
	 
        // 그리드 초기화
     
        const grid = new tui.Grid({
          el: document.getElementById('grid'), // 그리드가 붙을 엘리먼트
          scrollX: false,
          scrollY: false,
          columns: [
            { 
            	header: '설비번호',
            	name: 'equipId',
            	formatter:  ({value})  => {
            		const equipId = value.id || value;
            		return `<a href="#" id="btnHistory"  data-id="${equipId}">${equipId}</a>`;
            	}
            },	
            { header: '설비타입', name: 'typeNm' },
            { header: '설비이름', name: 'equipNm' },	
          ],
        });
        
        fetch('/plant/maintenanceGrid', {
            method: 'GET',
            headers: {
              [header]: token  // 동적으로 headerName을 키로 넣음
            }
        })
        .then(res => {
            if (!res.ok) throw new Error('서버 응답 에러: ' + res.status);
            return res.json();
        })
        .then(data => {
            grid.resetData(data);
        })
        .catch(err => console.error('fetch error:', err));
       
        
        
        /* //그리드 2 수리내역 보기 부분-------------------------------------------------
       $(document).on('click', '#btnHistory', function() {
        	
    		modalEl2.dataset.btnVal = $(this).data('id'); // 모달에 저장
    		myModal2.show(); // 모달 열기s
       });
       
       
      
       		모달창에 그리드 생성 안됨 계속 초기화 되는 문제로 팝업으로 제어 
		modalEl2.addEventListener('shown.bs.modal', function () {
			this.setAttribute('aria-hidden', 'false');
			if (!grid2) {
				grid2 = new tui.Grid({
				    el: document.getElementById('grid2'), // 그리드가 붙을 엘리먼트
				    scrollX: false,
				    scrollY: false,
				    columns: [
				      { header: '수리 시작일', name: 'startDt' },	
				      { header: '수리 종료일', name: 'endDt' },	
				      { header: '수리 사유', name: 'note' },
				    ],
				});
			}
			
			grid2.refreshLayout();
 			const equipId = modalEl2.dataset.equipId;
 			$.get('/plant/fixHistoryGrid', {equipId : btnVal}, function(response){
 				grid2.resetData(response);
 				window.dispatchEvent(new Event('resize'));
 			});
	
	
		});
*/
       
       
        //팝업창 제어
         $(document).on('click', '#btnHistory', function() {
			let btnVal = $(this).data('id');
			let url = '/plant/fix_history?equipId=' + btnVal;
			window.open(url, "popup", "width=830,height=450");
     	 });
        
        
        
        
        
        });//DOMContentLoaded


$(document).ready(function(){
	 	const form = $('#dataForm');
		const openBtn = document.getElementById("openModalBtn");
		
	 	const modalEl = document.getElementById("dataModal");	//모달 1 데이터 생성 부분
		const myModal = new bootstrap.Modal(modalEl);

		
		
		openBtn.addEventListener("click", function () {
			myModal.show();
		});
		$("#saveBtn").on("click", function(e){
			const equipId = $('#equipId');
	 		const fixNote = $('#note');
	 		const startDt = $('#startDt');
	 		const endDt = $('#endDt')
	 		
	 		if(!equipId.val()){
	 			alert('설비를 선택해 주세요 ');
	 			equipId.focus();
	 			return;
	 		}else if(!startDt.val()){
	 			alert('수리 시작일을 선택 해주세요');
	 			startDt.focus();
	 			return;
	 		}else if(!endDt.val()){
	 			alert('수리 종료일을 선택 해주세요');
	 			endDt.focus();
	 			return;
	 		}else if(!fixNote.val()){
	 			alert('수리 사유를 입력해주세요');
	 			fixNote.focus();
	 			return;
	 		}
	 		const formData = form.serialize();
	 		$.post('/plant/fixAdd', formData, function(response){
	 			 alert('저장이 완료되었습니다.');
			      // 모달 닫기
				 myModal.hide();
			      // 폼 초기화
			     location.reload()
			     form.reset();
	 		}).fail(function(){
	 			alert('전송 오류가 발생 했습니다.');
	 		});
		});
		//모달 창 닫기 
		 $("#closeBtn1").on("click", function(e){
				e.preventDefault();
				myModal.hide();
		 });
		
		
		

	
	
 });	//jquery 준비 끝 부분
 
 		
		
    </script>
</th:block>
</body>
</html>
