<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 개별페이지 CSS 영역 -->
    <th:block layout:fragment="style">
        <!--        <link rel="stylesheet" th:href="@{/css/item_main.css}" />-->
        
    </th:block>
        <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    
    
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
    	<!-- 
		<div class="d-flex align-items-center gap-2">
  			<label for="orderStatus" class="orderStatus">제품</label>
      		<select id="orderStatus" class="form-select" aria-label="전체" style="margin-left:10px;">
       			<option value="ALL">전체</option>
          		<option value="RECEIVED">a엔진</option>
          		<option value="INPRODUCTION">b엔진</option>
          		<option value="INSHIPMENT">c엔진</option>
      		</select>
        </div> -->
    	<button id="openModalBtn" class="btn btn-primary btn-sm" style="float:right;">추가</button>
		<div id="grid" style="width: 100%; height: 300px;"></div>
	

		<!-- 모달 -->
		<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      
		      <!-- 모달 헤더 -->
		      <div class="modal-header">
		        <h5 class="modal-title" id="dataModalLabel">공정 라우팅 추가</h5>
		      </div>
		      
		      <!-- 모달 바디 -->
		      <div class="modal-body">
		        <form id="dataForm">

		          <div class="mb-3">
		            <label for="typeNm" class="form-label">제품 이름</label>
		            <select name="productId" class="form-select" id="productId">
		          		<option value="">제품 이름을 선택하세요</option>
		          		<th:block th:each="product :${product}">
          					<option th:value="${product.productId}" th:text="${product.productName}"></option>
          				</th:block>
		       		</select>
		          </div>
		          <div class="selectBox" id="hideSelect" style="display:none;">
			          <div class="mb-3">
			            <label for="bomId" class="form-label">bom</label>
			            <select name="bomId" class="form-select" id="bomId">
			          		
			       		</select>
			          </div>
			    
			          <div class="mb-3">
			            <label for="materialId" class="form-label">자재</label>
			            <select name="materialId" class="form-select" id="materialId">
			          		
			       		</select>
			          </div>
		           </div>
		          
		          
		          <div class="mb-3">
		            <label for="typeNm" class="form-label">공정 이름</label>
		            <select name="proId" class="form-select" id="proId">
			          <option value="">공정 이름을 선택하세요</option>
			          <th:block th:each="proList :${proList}">
			          	<option th:value="${proList.proId}" th:text="${proList.proNm}"></option>
			          </th:block>
			        </select>
		          </div>
		          
		          <div class="mb-3">
		            <label for="typeNm" class="form-label">필요 설비</label>
		            <select name="equipId" class="form-select" id="equipId">
			          <option value="">필요한 설비를 선택하세요</option>
			          <th:block th:each="equip :${equipList}">
			          	<option th:value="${equip.equipId}" th:text="${equip.equipNm}"></option>
			          </th:block>
			        </select>
		          </div>

		          
		          <div class="mb-3">
		            <label for="note" class="form-label">공정 설명</label>
		             <textarea class="form-control"  id="note" name="note" placeholder="공정 설명을 입력하세요"  rows="3"></textarea>
		          </div>
		          
		        
		          
		        </form>
		      </div>
		      
		      <!-- 모달 푸터 -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" id="closeBtn">닫기</button>
		        <button type="submit" id="saveBtn" class="btn btn-primary">저장</button>
		      </div>
		      
		    </div>
		  </div>
		</div>




   
    </div>

</th:block>
<!-- js 따로 분리 -->
<th:block layout:fragment="script">
 <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
 <script th:src="@{/bootstrap/js/plant/route.js}"></script>
 
 <script>
 
 
 </script>
</th:block>
</body>
</html>
