<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="style">
        <!-- Bootstrap CSS 링크 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- 커스텀 CSS 파일 링크 -->
        <link rel="stylesheet" th:href="@{/business/css/client.css}" />
        <!-- Toast UI Grid CSS -->
        <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    </th:block>
    
    <meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <section class="section">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold">거래처 관리</h4>
                    </div>
                    <!-- Content Area -->
                    <div class="card-body">
                        <div class="table-container">
                        	<div class="d-flex justify-content-between align-items-center mb-4">
                        		<div class="search-container d-flex flex-fill gap-4">
                        			<div class="d-flex align-items-center gap-2">
                            			<label for="cliType" class="cliType">거래처 유형</label>
                                		<select id="cliType" class="form-select" aria-label="전체">
                                   			<option value="ALL">전체</option>
                                    		<option value="PURCHASE">매입사</option>
                                    		<option value="ORDER">매출사</option>
                                    		<option value="INSPECT">검사 업체</option>
                                		</select>
                                	</div>
                                	<div class="d-flex align-items-center gap-2">
                            			<label for="cliStatus" class="cliStatus">거래 여부</label>
                                		<select id="cliStatus" class="form-select" aria-label="전체">
                                   			<option value="ALL">전체</option>
                                    		<option value="ACTIVE">거래중</option>
                                    		<option value="INACTIVE">거래중지</option>
                                		</select>
                                	</div>
                                	<div class="d-flex align-items-center gap-2">
										<label for="cliSearch" class="cliSearch">거래처명</label>
										<input type="search" id="cliSearch" placeholder="" class="form-control" style="width: 180px;">
									</div>
								</div>
                            	<div class="search-buttons">
                            		<button id="searchBtn" class="btn btn-light">검색</button>
                                	<button id="addBtn" class="btn btn-light">등록</button>
                            	</div>
                            </div>
                            
                        	<hr>
                            <label for="cliSearch" class="cliSearch">거래처 목록</label>
                            
                            <div id="clientGrid">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

	<div class="modal fade" id="clientAddModal" tabindex="-1" aria-labelledby="clientAddModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered">
        	<div class="modal-content">
            	<div class="modal-header">
                	<h5 class="modal-title" id="clientAddModalLabel">거래처 등록</h5>
                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            	</div>
            	<div class="modal-body">
                	<form id="clientAddForm">
                	    <input type="hidden" id="clientId" name="clientId" />	
                    	<div class="mb-3">
                        	<label for="clientName" class="form-label">거래처명 *</label>
                        	<input type="text" class="form-control" id="clientName" required>
                    	</div>
                    	<div class="mb-3">
                        	<label for="ceoName" class="form-label">대표자명 *</label>
                        	<input type="text" class="form-control" id="ceoName" required>
                    	</div>
                    	<div class="mb-3">
                        	<label for="businessNumber" class="form-label">사업자등록번호 *</label>
                        	<div class="input-group">
                            	<input type="text" class="form-control" id="businessNumber" required>
                        	</div>
                    	</div>
                    	<div class="mb-3">
                        	<label for="clientType" class="form-label">거래처 유형 *</label>
                        	<select id="clientType" class="form-select" required>
                            	<option value="">선택</option>
                            	<option value="PURCHASE">매입사</option>
                            	<option value="ORDER">매출사</option>
                            	<option value="INSPECT">검사 업체</option>
                        	</select>
                    	</div>
                    	<div class="mb-3">
                        	<label for="clientStatus" class="form-label">거래 여부 *</label>
                       		<select id="clientStatus" class="form-select" required>
                            	<option value="">선택</option>
                            	<option value="ACTIVE">거래중</option>
                            	<option value="INACTIVE">거래중지</option>
                        	</select>
                    	</div>
                    	<div class="mb-3">
                        	<label for="clientPhone" class="form-label">거래처 전화번호 *</label>
                        	<input type="text" class="form-control" id="clientPhone" required>
                    	</div>

                    	<div class="mb-3">
                        	<label for="clientAddress" class="form-label">주소 *</label>
                        	<div class="input-group">
                            	<input type="text" class="form-control mt-2" id="clientAddress" placeholder="주소" required>
                            	<button type="button" class="btn btn-primary" id="searchAddress">주소 찾기</button>
                        	</div>
                    	</div>
                    	<div class="modal-footer d-flex justify-content-end">
                        	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        	<button type="submit" class="btn btn-success">등록</button>
                    	</div>
                    	<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                	</form>
            	</div>
        	</div>
    	</div>
	</div>
</th:block>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script th:src="@{/business/js/client.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script th:inline="javascript">
    	const isAUTLevel = /*[[${isAUTLevel}]]*/ false;
	</script>
</th:block>

</body>
</html>