<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.plant.mapper.ProcessRouteMapper">


<resultMap id="ProcessRouteMap" type="com.erp_mes.mes.plant.dto.ProcessRouteDTO">
<!--  	기본값 -->
	<result property="routeId" column="route_id"/>
    <result property="proSeq" column="pro_seq"/>
    <result property="note" column="note"/>

<!-- 	참조값 -->
    <result property="productId" column="product_id"/>
    <result property="productNm" column="product_name"/>
    <result property="proId" column="pro_id"/>
    <result property="proNm" column="pro_nm"/>
    <result property="equipId" column="equip_id"/>
    <result property="equipNm" column="equip_nm"/>
    <result property="lineId" column="line_id"/>
    <result property="bomId" column="bom_id"/>
    <result property="materialId" column="material_id"/>
    <result property="materialNm" column="material_name"/>

</resultMap>

	<select id="findAll" resultMap="ProcessRouteMap">
		SELECT 
			r.route_id,
			r.pro_seq,
			r.note,
			
			r.pro_id,
			p.pro_nm,
			r.equip_id,
			e.equip_nm,
			r.product_id,
			d.product_name,
			
			r.material_id,
			m.material_name
			
		FROM 
			process_routing r
		LEFT JOIN
			process p 
		ON 
			r.pro_id = p.pro_id
		JOIN 
			equipment e
		ON 
			r.equip_id = e.equip_id
		JOIN
			product d
		ON
			r.product_id = d.product_id
		LEFT JOIN 
			material m
		on 
			r.material_id = m.material_id
		ORDER BY 
			d.product_id, r.pro_seq ASC
			
	</select>
	<select id="findByProductIdAll" resultMap="ProcessRouteMap">
		SELECT 
			*
		FROM
			process_routing
		where 
			product_id = #{productId}	 	
	</select>
	
	
	
	
	<insert id="save" parameterType="com.erp_mes.mes.plant.dto.ProcessRouteDTO">
	    
<!-- 	    id 값 자동 생성 sequence  -->
	    <selectKey keyProperty="routeId" resultType="Long" order="BEFORE">
   			 SELECT route_id_seq.NEXTVAL FROM DUAL
  		</selectKey>
  		
<!-- 	    <selectKey keyProperty="proSeq" resultType="long" order="BEFORE"> -->
<!--    			 SELECT NVL(MAX(pro_seq), 0) + 1 FROM process_routing WHERE product_id = #{productId} -->
<!--   		</selectKey> -->
<!-- 	    라인 컬럼 삭제로 인해 인서트에도 없앰 line_id , #{lineId} 삭제 -->
	    insert into process_routing 
	    (
	        route_id, pro_seq, note, product_id, pro_id, equip_id, bom_id, material_id
	    )
	    values 
	    (
	        #{routeId}, #{proSeq}, #{note}, #{productId}, #{proId}, #{equipId}, #{bomId}, #{materialId}
	    )
	</insert>
	
</mapper>