<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.plant.mapper.ProcessMapper">


<resultMap id="ProcessMap" type="com.erp_mes.mes.plant.dto.ProcessDTO">
    <result property="proId" column="pro_id"/>
    <result property="proNm" column="pro_nm"/>
    <result property="note" column="note"/>
    <result property="typeNm" column="type_nm"/>


    <result property="inspecId" column="insepection_fm_id"/>
    <result property="inspecNm" column="com_dt_nm"/>
    
    
</resultMap>

	<select id="findAll" resultMap="ProcessMap">
		SELECT 
			p.pro_id,
			p.pro_nm,
			p.note,
			p.type_nm,
			
			c.com_dt_nm
		FROM 
			process p
		LEFT JOIN 
			inspection_fm i
		ON 
			p.inspection_fm_id = i.inspection_fm_id
		LEFT JOIN 
			common_dt_code c 
		ON 
			i.inspection_type = c.com_dt_id
		WHERE 
			c.com_dt_id = 'QC002'
	</select>
</mapper>