<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.mes.pm.mapper.ProductBomMapper">
	
	<!-- 제품 리스트 -->
	<select id="getProductList" resultType="com.erp_mes.mes.pm.dto.ProductDTO">
		SELECT p.product_id, p.product_name, c.com_dt_nm AS productType, cc.com_dt_nm AS unit, p.created_at, p.price
		FROM product p
		JOIN common_dt_code c
		ON p.product_type = c.com_dt_id
		JOIN common_dt_code cc
		ON p.unit = cc.com_dt_id
		ORDER BY p.product_id
	</select>
	
	<!-- 제품 유형(공통코드) -->
	<select id="getCommonPtype" resultType="com.erp_mes.erp.commonCode.dto.CommonDetailCodeDTO">
		SELECT 
		    com_dt_id AS comDtId,
		    com_dt_nm AS comDtNm,
		    com_id    AS comId
		FROM common_dt_code
		WHERE com_id = #{comId}
	</select>
	
	<!-- 단위(공통코드) -->
	<select id="getCommonUnit" resultType="com.erp_mes.erp.commonCode.dto.CommonDetailCodeDTO">
		SELECT 
		    com_dt_id AS comDtId,
		    com_dt_nm AS comDtNm,
		    com_id    AS comId
		FROM common_dt_code
		WHERE com_id = #{comId}
	</select>
	
	<!-- 제품 등록 -->
	<insert id="ProductRegist" parameterType="com.erp_mes.mes.pm.dto.ProductDTO">    
	    INSERT INTO product (product_id, product_name, product_type, price, unit, created_at)
		VALUES (
		      #{productId},
		      #{productName},
		      #{productType},
		      #{price},
		      #{unit},
		      SYSDATE
		)
	</insert>
	
	<!-- bom 리스트 -->
	<select id="getBomList" resultType="com.erp_mes.mes.pm.dto.BomDTO">
		SELECT b.bom_id, b.product_id , b.material_id, m.material_name AS materialName, b.quantity, c.com_dt_nm AS unit, b.revision_no, b.created_at
		FROM bom b
		JOIN common_dt_code c
		ON b.unit = c.com_dt_id
		JOIN material m
		ON m.material_id = b.material_id
		WHERE b.product_id = #{productId}
	</select>
	
	
	<!-- bom 등록 -->
	<insert id="insertBomList" parameterType="com.erp_mes.mes.pm.dto.BomDTO">    
	    INSERT INTO bom (bom_id, product_id, material_id, quantity, unit, revision_no, created_at)
	    VALUES (#{bomId}, #{productId}, #{materialId}, #{quantity}, #{unit}, #{revisionNo}, SYSDATE)
	</insert>
	
	<select id="getBomListRoute" resultType="com.erp_mes.mes.pm.dto.BomDTO">
		SELECT b.bom_id, b.product_id ,  b.material_id, m.material_name, b.quantity, c.com_dt_nm AS unit, b.revision_no, b.created_at
		FROM bom b
		JOIN common_dt_code c
		ON b.unit = c.com_dt_id
		JOIN material m
		on b.material_id = m.material_id
		WHERE b.product_id = #{productId}
	</select>
	
</mapper>

















